.list {
    font-family: Varela;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #EEEEEE;
    text-decoration: none !important;
}

.list-container {
    margin-top: 10px;
}